.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container input,
button {
  margin: 2px;
  padding: 5px 10px;
}

.btn {
  padding: 5px 20px;
  margin: 5px;
}
.btnContainer {
  display: flex;

  justify-content: center;
  align-items: center;
}
